* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h2,h6 {
  color:darkorange;
}
body {
padding: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  font-size: 1.2rem;
  width: 90%;
  color: crimson;
}

.card-grid
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card
{
  align-content: center;
  border: 1px crimson;
  border-radius:  6px 6px 6px 6px;
  overflow: hidden;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

}

.card p{
  padding: 10px;
  text-align: center;
  color: darkorange;
  font-size: 1.2em;
}

.card img{
  max-width: 200px;
  max-height: 170px;
}